{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Change Password" %}{% endblock %}

{% block inner %}
    <h1>{% translate "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit" name="action">{% translate "Changcxxe Password" %}</button>
    </form>



     <!-- main @s -->
  <div class="nk-main ">
    <!-- wrap @s -->
    <div class="nk-wrap nk-wrap-nosidebar">
        <!-- content @s -->
        <div class="nk-content ">
            <div class="nk-block nk-block-middle nk-auth-body wide-xs">
                <div class="brand-logo pb-4 text-center">
                    <a href="/" class="logo-link">
                        <img class="logo-light logo-img logo-img-lg" src="{% static 'sandbox/images/logo.png' %}" srcset="{% static 'sandbox/images/logo2x.png' %} 2x" alt="logo">
                        <img class="logo-dark logo-img logo-img-lg" src="{% static 'sandbox/images/logo-dark.png' %}" srcset="{% static 'sandbox/images/logo-dark2x.png' %} 2x" alt="logo-dark">
                    </a>
                </div>
                <div class="card ">
                    <div class="card-inner card-inner-lg">
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h4 class="nk-block-title">Sign In </h4>
                                <div class="nk-block-des">
                                    <p>Access the InvestOdd panel using your email and password.</p>
                                </div>
                            </div>
                        </div>
                        <form method="post" action="{% url 'account_login' %}">
                            {% csrf_token %}

                           
                            <div class="form-group">
                                
                                {{form.password1  | as_crispy_field}}
                              
                            </div>
                           
                            <div class="form-group">
                             
                              <div class="form-control-wrap">
                                
                                {{form.password2 | as_crispy_field}}
                              </div>
                          </div>
                          <div class="form-label-group">
                            <a class="link link-primary link-sm" href="{% url 'account_reset_password' %}">Forgot Code?</a>
                        </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Create New Account</button>
                            </div>

                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                        </form>
                        <div class="form-note-s2 text-center pt-4"> New on our platform? <a href="{{ signup_url }}"><strong>Create an accont</strong></a>
                        </div>
                        {% if socialaccount_providers %}

                        <div class="text-center pt-4 pb-3">
                            <h6 class="overline-title overline-title-sap"><span>OR</span></h6>
                        </div>



                        <ul class="nav justify-center gx-8">
                            <li class="nav-item"><a class="nav-link" href="#">Facebook</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Google</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Apple ID</a></li>
                        </ul>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="nk-footer nk-auth-footer-full">
                <div class="container wide-lg">
                    <div class="row g-3">
                        <div class="col-lg-6 order-lg-last">
                            <ul class="nav nav-sm justify-content-center justify-content-lg-end">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Terms & Condition</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Help</a>
                                </li>
                                <li class="nav-item dropup">
                                    <a class="dropdown-toggle dropdown-indicator has-indicator nav-link" data-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                        <ul class="language-list">
                                            <li>
                                                <a href="#" class="language-item">
                                                    <img src="{% static 'sandbox/images/flags/english.png' %}" alt="" class="language-flag">
                                                    <span class="language-name">English</span>
                                                </a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="nk-block-content text-center text-lg-left">
                                <p class="text-soft">&copy; 2021 InvestOdd. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- wrap @e -->
    </div>
    <!-- content @e -->
</div>
<!-- main @e -->

{% endblock %}
